﻿@page
@model Test.Pages.StaffManagement.DeleteModel


<h3>Вы уверены, что хотите удалить этого сотрудника?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Patronymic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Patronymic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.BirthYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.BirthYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.AssignmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.AssignmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Position.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Staff.ID" />
        <div class="row">
            <div class="col-sm-3 col-md-2 col-xxl-2">
                <a asp-page="Index" class="btn btn-outline-primary w-100"><i class="fa-solid fa-arrow-left"></i><span>&nbsp;&nbsp;Назад</span></a>
            </div>
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-4 col-md-3 col-xxl-2">
                <input type="submit" class="btn btn-danger w-100" value="Удалить" />
            </div>
        </div>
    </form>
</div>
