﻿@page
@model Test.Pages.StaffManagement.EditModel


<h4>Персонал</h4>
<hr />
<div class="row">
    <div class="col-md-7 col-lg-5 col-xl-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Staff.ID" />
            <div class="form-group">
                <label asp-for="Staff.Name" class="control-label"></label>
                <input asp-for="Staff.Name" class="form-control" />
                <span asp-validation-for="Staff.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.Surname" class="control-label"></label>
                <input asp-for="Staff.Surname" class="form-control" />
                <span asp-validation-for="Staff.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.Patronymic" class="control-label"></label>
                <input asp-for="Staff.Patronymic" class="form-control" />
                <span asp-validation-for="Staff.Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.BirthYear" class="control-label"></label>
                <input asp-for="Staff.BirthYear" class="form-control" />
                <span asp-validation-for="Staff.BirthYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.AssignmentDate" class="control-label"></label>
                <input asp-for="Staff.AssignmentDate" class="form-control" />
                <span asp-validation-for="Staff.AssignmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.Position" class="control-label"></label>
                <select asp-for="Staff.PositionID" class="form-control" asp-items="Model.Positions"></select>
                <span asp-validation-for="Staff.Position" class="text-danger"></span>
            </div>
            <div class="form-group pt-3 row">
                <div class="col-sm-5 col-md-4">
                    <a asp-page="Index" class="btn btn-outline-primary w-100"><i class="fa-solid fa-arrow-left"></i><span>&nbsp;&nbsp;Назад</span></a>
                </div>
                <div class="col-sm-1">&nbsp;</div>
                <div class="col-sm-6 col-md-7">
                    <input type="submit" class="btn btn-primary w-100" value="Сохранить" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
