﻿@page
@model Test.Pages.StaffManagement.IndexModel


<div>
    <a asp-page="Create" class="btn btn-outline-primary"><i class="fa-regular fa-square-plus"></i><span>&nbsp;&nbsp;Добавить персонал</span></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].BirthYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].AssignmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].Position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Staff) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID"><i class="far fa-edit"></i></a>
                    &nbsp;&nbsp;&nbsp;
                <a asp-page="./Delete" asp-route-id="@item.ID"><i class="text-danger fa-solid fa-trash-can"></i></a>
            </td>

        </tr>
}
    </tbody>
</table>
